<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LEENetworkHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F6A66A0213FCC2E00A8AD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6A66B8213FCC3100A8AD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6A66C3213FCC3100A8AD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
